html
    head
        link(href="/static/css/semantic.css" rel="stylesheet" type="text/css")
        link(href="/static/css/admin-gui-usertable.css" rel="stylesheet" type="text/css")
        style(type="text/css")
    body
        table.ui.table.segment#userTable(eid="#{eid}")
            thead
                tr
                    th UID
                    th E-Mail
                    th Status
            tbody#userData

        div#footer
            form()#addUsr
                input(type="text" value="uid" name="uid")
                input(type="text" value="e-mail" name="email")
                input(type="submit" value="Add User")
                input(type="text" value="" readonly)#resultAddUsr
            form()#invAll
                input(type="submit" value="Invite All")
                input(type="text" value="" readonly)#resultInvAll

        script(src="http://code.jquery.com/jquery-1.11.1.min.js")
        script(src="/static/js/semantic.js")
        script(src="/static/js/admin-gui-usertable.js")