html
    head ADMIN LOGIN
    body
        form(method="post" action="/admin/login")
            input(type="text" value="user" name="user")#user
            input(type="text" value="pass" name="pass")#pass
            input(type="submit" value="login")