html
    head Administration
        link(href="/static/css/semantic.css" rel="stylesheet" type="text/css")
        style(type="text/css")

    body
        .ui.segment
            .ui.tabular.menu
                a.item#users Users
                a.item#experis Experiments

            table.ui.table#userstuff
                thead
                    tr
                        th UID
                        th E-Mail
                        th Status
                    tr: form()#invOne
                        th: input(type="text" value="uid" name="uid")
                        th
                        th: input(type="submit" value="Invite User")
                        td#resultInvOne
                    tr: form()#invAll
                        th
                        th
                        th: input(type="submit" value="Invite All")
                        td#resultInvAll
                    tr: form()#addUsr
                        th: input(type="text" value="uid" name="uid")
                        th: input(type="text" value="e-mail" name="email")
                        th: input(type="submit" value="Add User")
                        td#resultAddUsr
                // Caution:
                    Semantic does not play nice with dynamic html,
                    consider building from scratch or find a workaround
                    for now we simply have inviteUser be very rudimentary
                tbody#userdata

            table.ui.table#experistuff
                tr
                    td csdf
                    td.ui.left.pointing.dropdown csdg
                        .menu
                            .item beh
                            .item reh
                            .item smeh
                tr
                    td.ui.right.pointing.dropdown dsdf
                        .menu
                            .item beh
                            .item reh
                            .item smeh
                    td dsdg

        script(src="http://code.jquery.com/jquery-1.11.1.min.js")
        script(src="/static/js/semantic.js")
        script(src="/static/js/admin-gui.js")