html
    head Administration
        link(href="/static/css/semantic.css" rel="stylesheet" type="text/css")
        style(type="text/css")

    body
        .ui.tabular.menu#tabMenu
            a.active.item#experiments Experiments

        iframe(src="", width="100%", height="80%")#tabContents
            |iframes not supported

        script(src="http://code.jquery.com/jquery-1.11.1.min.js")
        script(src="/static/js/semantic.js")
        script(src="/static/js/admin-gui.js")
